.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

.header__store-title {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.header__cart-btn-wrapper {
  justify-content: flex-end;
  text-decoration: none;
}
